<div class="header">
    <div id="header_fixo">
        <div class="header_topo">
            <div class="menu">
                <img src="../public/img/menu.svg">
            </div>
            <div class="titulo">
                <img src="../public/img/titulo.png">
                <h2>Marcelo Gamón</h2>
            </div>
            <div class="header_login">
                <button class="header_login_submit" data-button="" type="submit">Login</button>
            </div>
        </div>
    </div>
</div>