<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="../public/styles/header.css">
    <title>Frank Payne</title>
</head>
<!--Inicio do header-->
    
<div class="header">
    <div id="header_fixo">
        <div class="header_topo">
            <div class="menu">
                <img src="../public/img/menu.svg">
            </div>
            <div class="titulo">
                <img src="../public/img/titulo.png">
                <h2>Marcelo Gamón</h2>
            </div>
            <div class="login">
                <img src="../public/img/Login.svg">
            </div>
        </div>
    </div>
    <div class="header_baixo">
        <img src="../public/img/img_header_baixo.png">
    </div>
</div>

<!--Final do header-->

<body>
    <div class="bem-vindos">
        <div class="bv_cadastro">
            <h3>Cadastre-se</h3>
            <img src="../public/img/login.png">
        </div>
        <div class="bv_texto">
            <h1>Bem-vindos</h1>
            <h2>Faça seu cadastro e tenha acesso a conteúdos exclusivos sobre os livros, personagens, promoções e novidades do universo fantástico de Frank Payne</h2>
        </div>
    </div>

    <div class="livros">
        <div class="livro1_img">
            <img src="../public/img/livro1_3d.jpg">
        </div>
        <div class="livro1_info">
            <h1>Livro 1:  Frank Payne e a Caverna Misteriosa</h1>
            <p>Até onde você iria para encontrar seu pai desaparecido e dado como morto há cinco anos, mas que acabara de se comunicar com você de uma forma totalmente imprevisível?</p>
            <p>Frank Payne, um garoto de 17 anos, acabou de receber do mar uma enigmática pedra que faz sua vida virar de cabeça para baixo, após descobrir algumas inscrições em uma língua desconhecida indicando o paradeiro de seu pai.</p>
            <p>Junto de sua amiga Barbara e seu avô Walter partem para a ilha de Guam, no extremo pacífico, onde encontram um submarino que os levam às profundezas do oceano, precisamente na Fossa das Marianas. Além de ser um local inóspito e habitado por estranhas criaturas, a região ainda esconde uma secreta passagem para uma caverna um tanto misteriosa.</p>
            <p>É assim, entre enigmas e aventuras sinistras que conhecem o verdadeiro poder da lendária pedra da água e as intenções de um temível vilão, que fará de tudo para encontrar o outro pedaço dessa relíquia que está com Frank e junta-la às outras três (fogo, ar e terra) para colocar seu plano maligno em prática, destruir o planeta.</p>
            <p>Pegue sua mochila, seu passaporte e embarque junto nessa eletrizante e fantástica aventura e descubra os maiores segredos da humanidade.</p>
        </div>
        <button class="livro1_saiba_mais">Saiba Mais</button>
    </div>

<!--Inicio do personagens-->
<div class="personagens">
    <div class="pers_info">
        <h2>Personagens</h2>
        <p>Clique nos personagens para conhecer mais sobre eles e suas histórias.</p>
        <span>Atenção: Podem conter Spoilers.</span>
    </div>
    <div class="pers_img">
        <div id="pFrank">
            <img src="../public/img/frank_perfil.png">
            <h3>Frank Payne</h3>
        </div>
        <div id="pBarbara">
            <img src="../public/img/barbara_perfil.png">
            <h3>Barbara Bell</h3>
        </div>
        <div id="pWalter">
            <img src="../public/img/walter_perfil.png">
            <h3>Walter Payne</h3>
        </div>    
        <div id="pMark">
            <img src="../public/img/mark_perfil.png">
            <h3>Mark Wolf</h3>
        </div>    
        <div id="pEmily">
            <img src="../public/img/emily_perfil.png">
            <h3>Emily Cruz</h3>
        </div>
        <div id="pJason">
            <img src="../public/img/jason_perfil.png">
            <h3>Jason Cruz</h3>
        </div>
        <div id="pThomas">
            <img src="../public/img/thomas_perfil.png">
            <h3>Thomas Wolf</h3>
        </div>
        <div id="pGeneral">
            <img src="../public/img/general_perfil.png">
            <h3>Gen. Nelson</h3>
        </div>    
        <div id="pErik">
            <img src="../public/img/erik_perfil.png">
            <h3>Erik Morgan</h3>
        </div>    
        <div id="pPeixomem">
            <img src="../public/img/peixomem_perfil.png">
            <h3>Peixomem</h3>
        </div>
        <div id="pAquanator">
            <img src="../public/img/aquanator_perfil.png">
            <h3>Aquanator</h3>
        </div>
        <div id="pArasgain">
            <img src="../public/img/arasgain_perfil.png">
            <h3>Bhaltair Arasgain</h3>
        </div>
        <div id="pLuiz">
            <img src="../public/img/luiz_perfil.png">
            <h3>Luiz Garcia</h3>
        </div>    
        <div id="pCadassi">
            <img src="../public/img/cadassi_perfil.png">
            <h3>Mestre Cadassi</h3>
        </div>    
        <div id="pOliver">
            <img src="../public/img/oliver_perfil.png">
            <h3>Oliver Trik</h3>
        </div>
        <div id="pDouglas">
            <img src="../public/img/douglas_perfil.png">
            <h3>Douglas Payne</h3>
        </div>
        <div id="pElizabeth">
            <img src="../public/img/elizabeth_perfil.png">
            <h3>Elizabeth Payne</h3>
        </div>
        <div id="pPedro">
            <img src="../public/img/pedro_perfil.png">
            <h3>Pedro Bell</h3>
        </div>    
        <div id="pRose">
            <img src="../public/img/rose_perfil.png">
            <h3>Rose Bell</h3>
        </div>    
        <div id="pHugodzilla">
            <img src="../public/img/hugodzilla_perfil.png">
            <h3>Hugodzilla</h3>
        </div>
        <div id="pMontanha">
            <img src="../public/img/montanha_perfil.png">
            <h3>Sergio Montanha</h3>
        </div>
        <div id="pArtmeck">
            <img src="../public/img/artmeck_perfil.png">
            <h3>Artmeck</h3>
        </div>
        <div id="pBolduf">
            <img src="../public/img/bolduf_perfil.png">
            <h3>Bolduf</h3>
        </div>    
        <div id="pDevorador">
            <img src="../public/img/devorador_perfil.png">
            <h3>Devorador de Mentes</h3>
        </div>    
        <div id="pGrimlock">
            <img src="../public/img/grimlock_perfil.png">
            <h3>Grimlock</h3>
        </div>
    </div>
</div>

<!--Final do personagens-->

</body>
<footer>
<!--Inicio do footer--> 
    <div class="footer">
        <h2>SIGA NOSSAS REDES SOCIAIS</h2>
        <div class="footer_redes">
                <a class="facebook" href="http://facebook.com.br"><img src="../public/img/Facebook.png"></a>
                <a class="instagram" href="http://instagram.com.br"><img src="../public/img/instagram.png"></a>
                <a class="twitter" href="https://twitter.com/MarceloGamon3"><img src="../public/img/twitter.png"></a>
        </div>
        <h4>Copyright©2021, FRANK PAYNE. Todos os direitos reservados. </h4>
    </div>
        <!--Final do footer-->
</footer>

</html>