body{
    background: #020406;
}

.acessoExclusivo_page{
    display: flex;
    flex-direction: column;
    background-color: #132634;
    border-radius: 10px;
    width: 93%;
    margin: 75px 3.5% 0 3.5%;
    justify-content: center;
}

.acessoExclusivo_container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.acessoExclusivo_container > h3{
    color: #FFFFFF;
    font-size: 4.4vw;
    font-weight:lighter;
    text-align: center;
    margin: 25px 0 20px 0;
    padding: 0 25px;
    text-shadow: 0px 0px 21px rgb(0, 0, 0);
}

.btn_acessoExclusivo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.acessoExclusivo_submit{
    border-radius: 30px;
    background-color: #d4af37 ;
    width: 60%;
    padding: 10px 20px;
    color: #ffffff;
    border: 0px;
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 5vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.acessoExclusivo_submit:hover{
    transition: all 0.3s;
    background-color: #f9a109de ;
}

#cadastrar{
    width: 14vw;
    align-self: center;
    margin: 15px 0 30px 0;
}

.footer{
    position: absolute;
    background-color: none;
    width: 100%;
    margin-bottom: 5px;
    bottom: 0;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.footer > h4{
    color: #FFFFFF;
    font-size: 2.5vw;
    text-align: center;
}