body{
    background: #020406;
}

.personagens_page_desktop{
    display: none;
}


.personagens_page_mobile{
    display: flex;
    flex-direction: column;
    background-color: #132634;
    width: 93%;
    border-radius: 10px;
    margin: 75px 3.5% 0 3.5%;
}

.pers_info{
    padding: 10px;
}

.pers_info > h2{
    color: #FFFFFF;
    font-size: 4.2vw;
    padding-bottom: 5px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.pers_info > p{
    color: #FFFFFF;
    font-size: 3vw;
    padding-bottom: 5px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.pers_info > span{
    color: #FFFFFF;
    font-size: 3.5vw;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.pers_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pFrank{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1% 5px 2%
}
#pFrank > img{
    width: 100%;
}

#pBarbara{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pBarbara > img{
    width: 100%;
}

#pWalter{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pWalter > img{
    width: 100%;
}

#pMark{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pMark > img{
    width: 100%;
}

#pEmily{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 2% 5px 1%
}
#pEmily > img{
    width: 100%;
}

#pJason{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1% 5px 2%
}
#pJason > img{
    width: 100%;
}

#pThomas{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pThomas > img{
    width: 100%;
}

#pGeneral{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pGeneral > img{
    width: 100%;
}

#pErik{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pErik > img{
    width: 100%;
}

#pPeixomem{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 2% 5px 1%
}
#pPeixomem > img{
    width: 100%;
}

#pAquanator{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1% 5px 2%
}
#pAquanator > img{
    width: 100%;
}

#pArasgain{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pArasgain > img{
    width: 100%;
}

#pLuiz{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pLuiz > img{
    width: 100%;
}

#pCadassi{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pCadassi > img{
    width: 100%;
}

#pOliver{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 2% 5px 1%
}
#pOliver > img{
    width: 100%;
}

#pDouglas{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1% 5px 2%
}
#pDouglas > img{
    width: 100%;
}

#pElizabeth{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pElizabeth > img{
    width: 100%;
}

#pPedro{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pPedro > img{
    width: 100%;
}

#pRose{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pRose > img{
    width: 100%;
}

#pHugodzilla{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 2% 5px 1%
}
#pHugodzilla > img{
    width: 100%;
}

#pMontanha{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1% 5px 2%
}
#pMontanha > img{
    width: 100%;
}

#pArtmeck{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pArtmeck > img{
    width: 100%;
}

#pBolduf{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pBolduf > img{
    width: 100%;
}

#pDevorador{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 1%
}
#pDevorador > img{
    width: 100%;
}

#pGrimlock{
    display: flex;
    flex-direction: column;
    width: 17.6%;
    padding: 5px 2% 5px 1%
}
#pGrimlock > img{
    width: 100%;
}

#pFrank, #pBarbara, #pWalter, #pMark, #pEmily, #pJason, #pThomas, #pGeneral, #pErik, #pPeixomem, #pAquanator, #pArasgain, #pLuiz, #pCadassi, #pOliver, #pDouglas, #pElizabeth, #pPedro, #pRose, #pHugodzilla, #pMontanha, #pArtmeck, #pBolduf, #pGrimlock, #pDevorador > h3{
    color: #FFFFFF;
    font-size: 2.6vw;
    text-align: center;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}





/*Final do Mobile*/




/*Inicio do Desktop*/

@media (min-width: 769px) {

.personagens_page_mobile{
    display: none;
}

body{
    background-image: url(../img/img_header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.personagens_page_desktop{
    display: flex;
    flex-direction: column;
    background-color: rgba(41, 41, 41, 0.699);
    margin: 10vw 5vw 1vw 5vw;
}

.pers_info_desktop{
    padding: 10px;
}

.pers_info_desktop > h2{
    color: #FFFFFF;
    font-size: 1.8vw;
    text-align: left;
    padding: 10px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.pers_info_desktop > p{
    color: #c6c6c6;
    font-size: 1.2vw;
    text-align: justify;
    padding: 10px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.pers_info_desktop > span{
    color: #FFFFFF;
    font-size: 1.4vw;
    padding: 10px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;   
}

.pers_img_desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4vw;
    margin-top: 2vw;
}

.pers_img_desktop h3{
    color: #FFFFFF;
    font-size: 1.4vw;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;  
    text-align: center;
    margin-bottom: 4vw;
}

.pers_img_desktop img{
    margin: 3px 0;
    padding: 0 3vw;
    width: 10vw;

}

}

/*Final do Desktop*/